@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #0E0C15;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* DatePicker.css */
.react-calendar {
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.react-calendar__tile {
  text-align: center;
  padding: 10px;
  border-radius: 4px;
}

.react-calendar__tile--active {
  background-color: #3b82f6;
  color: #ffffff;
}

.react-calendar__tile--now {
  background-color: #fde68a;
}

.react-calendar__month-view__days__day--weekend {
  color: #d32f2f;
}

.react-calendar__navigation button {
  color: #000000;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}


.custom-checkbox {
  width: 15px;
  height: 15px;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform-origin: 0 0;
}